<title>
    Login</title>
<h1>Welcome to NoteWall</h1>
</head>

<body>
    <form action=/ method="post">
        <label for="phoneNumbe">Phone number:</label>
        <input type="number" id="phoneNumber" name="phoneNumber"><br><br>
        <label for="passWord">password:</label>
        <input type="text" id="passWord" name="passWord"><br><br>
        <input type="submit" value="Submit">
    </form>
    <button onclick="location.href = '/register';" id="myButton" class="float-left submit-button">register</button>


</body>

</html>