<title>
    Login</title>
<h1>Welcome to NoteWall</h1>
</head>

<body>
    <form action=register method="post">
        <label for="phoneNumbe">Phone number:</label>
        <input type="number" id="phoneNumber" name="phoneNumber"><br><br>

        <label for="passWord">password:</label>
        <input type="text" id="passWord" name="passWord"><br><br>

        <label for="note">add note!:</label>
        <input type="text" id="note" name="note"><br><br>

        <input type="submit" value="Create!">

    </form>
    <div class="success">
        <p><strong>Important!</strong> after creating account use your info to login</p>
    </div>

    <button onclick="location.href = '/';" id="myButton" class="float-left submit-button">Back to Login Page</button>


</body>

</html>